
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
h1.about,
.buy,
.data,
.login {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*specific styling for About*/

h1.about {
  background-image: url('/public/images/about.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  color: rgb(245, 241, 245);
  font-size: 100px;
}

div.about{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 5rem;
  background: rgb(245, 241, 245);
  color: rgb(125, 38, 126);
}

p.about, h2.about {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 5rem;
  background: rgb(245, 241, 245);
  color: rgb(125, 38, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

div.aboutcont {
  font-size: 2rem;
  padding: 10px 100px;
  color: rgb(11, 0, 11);
}

p.about {
  font-size: 25px;
  padding: 10px 0px;
}

@media only screen and (max-width: 1024px) {
  h2.about, p.about {
    align-items: center;
  }

  div.about {
    display: grid;
    justify-content: center;
  }
}

/*specific styling for Buy*/

div.buy {
  background-image: url('/public/images/buy.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  color: rgb(245, 241, 245);
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

div.buy > h1 {
  color: rgb(240, 226, 240);
  font-size: 100px;
}

div.buy > h2 {
  margin-top: 8px;
  color: rgb(240, 226, 240);
  font-size: 32px;
  margin-top: -300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buy-btns {
  margin-top: -200px;
  margin-bottom: 100px;
}

.buy-btns .btn {
  margin: 6px;
}

@media only screen and (max-width: 1024px) {
  h2.buy {
    align-items: center;
  }
}

/*specific styling for Predict*/

div.data {
  background-image: url('/public/images/predict.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  color: rgb(245, 241, 245);
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

div.data > h1 {
  color: rgb(240, 226, 240);
  font-size: 100px;
}

div.data > h2 {
  margin-top: 8px;
  color: rgb(240, 226, 240);
  font-size: 32px;
  margin-top: -300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.datadiv {
  background: rgb(245, 241, 245);
}

/*specific styling for Login*/

.login {
  background-image: url('/public/images/grouplogo.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  color: rgb(245, 241, 245);
  font-size: 100px;
}
